version: '3'

volumes: 
  node_modules:

services:
  nodejs:
    build:
      context: .
      dockerfile: Dockerfile
    # image: nodejs
    container_name: nodejs
    restart: unless-stopped
    ports:
      - 5000:5000
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - app-network

networks:
  app-network:
